.movie_title,.movie_rating,.movie_genres,.movie_plot {
    margin-left: 30px;
    margin-right: 20px;
    color: white;
}

#movie_bg {
    position: absolute; 
    left: 0px;
    top: 150px;
    width: 1200px;
    height: auto;
    z-index: -2;
}

#text_bg td {
    position: fixed;
    display: block;
    left: 250px;
    width: 925px;
    padding-bottom: 20px;
}

#actor_img {
    width: 90px;
    height: auto;
    margin: 15px;
}

.movie_cast {
    width: 1000px;
}
.movie_crew {
    width: 1000px;
}

#crew_table{
    position: relative;
    color: white;
    top: 290px;
    left: 240px;
    padding: 20px;
}

.movie_cast {
    position: relative;
    color: white;
    float: left;
    top: 0px;
    padding-left: 10px;
}
#cast_table {
    position: relative;
    color: white;
    float: left;
    padding-right: 10px;
    top: 320px;
}

#text_bg td, #crew_table, #cast_table{
    background-color: rgba(0, 0, 0, .7);    
}

#movie_poster {
    position: fixed;
    display: block;
    left: 20px;
    width: 200px;
    height: auto;
    z-index: 1;
    padding:5px;
    border:1px solid #021a40;
    background-color:#5c5750;
}