a {
    color: #503232;
}

a:hover {
    color: black;
}

#cast-table a, #crew-table a {
    color: white;
}

#cast-table a:hover, #crew-table a:hover {
    color: #cccccc;
}

.movie-title,.movie-rating,.movie-genres,.movie-plot {
    margin-left: 30px;
    margin-right: 20px;
    color: white;
}

#movie-bg, #person-bg  {
    position: absolute; 
    left: 0px;
    top: 150px;
    width: 1200px;
    height: auto;
    opacity: 0.70;
    filter: alpha(opacity=70); /* For IE8 and earlier */        
    z-index: -2;
}

#text-bg, #person-bg {
    position: fixed;
    display: block;
    left: 250px;
    width: 925px;
    padding-bottom: 20px;
}

#roles-table {
    left: 250px;
}

#actor-img {
    width: 90px;
    height: auto;
    margin: 15px;
}

.movie-cast {
    width: 1000px;
}

.movie-crew {
    width: 1000px;
}

#logout, #expired {
    color: #503232;
    background-color: #d6c9b2;
    border-style: dotted;
    border-color: #503232;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.error {
    color: #dd0000;
    background-color: #ffeaff;
    border-style: dotted;
    border-color: #dd0000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#crew-table{
    position: relative;
    color: white;
    top: 290px;
    left: 240px;
    padding: 10px;
}

#movies-table th, #accounts-table th {
    padding-right: 10px;    
    text-align: left;
}

#movies-table td, #accounts-table td {
    padding-right: 10px;    
}

#crew-table td {
    padding-left: 10px;
    padding-right: 20px;
}

#roles-table td {
    padding-right: 20px;
}
.movie-cast {
    position: relative;
    color: white;
    float: left;
    top: 0px;
    padding-left: 10px;
}

#cast-table {
    position: relative;
    color: white;
    float: left;
    padding-right: 10px;
    top: 320px;
}

#text-bg td, #crew-table, #cast-table{
    background-color: rgba(0, 0, 0, .8);    
}

#movie-poster, #person-img {
    position: fixed;
    display: block;
    left: 20px;
    width: 200px;
    height: auto;
    z-index: 1;
    padding:5px;
    border:1px solid #021a40;
    background-color:#5c5750;
}